.page-gallery	{
	width: 100%;
	margin: auto;
}

.page-gallery img{
	
	border: 3px solid #ccc;
}

ul.gallery_images	{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.gallery_images li	{
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

ul.gallery_images li a	{
	display: block;
	width: 100px;
	height: 100px;
	text-indent: -9999px;
}

ul.gallery_images li div	{
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid #0b4792;
	margin: 10px;
	padding: 5px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}