#login-form-page	{
	margin: auto;
	margin-top: 160px;
	margin-bottom: 160px;
	width: 484px;
	padding-bottom: 35px;
}

#page-auth-title	{
	margin: auto;
	width: 188px;
	height: 162px;
	display: block;
	margin: 35px auto;
}

#page-auth-title h3	{
	padding: 18px 0 0 30px;
	font-size: 15px !important;
	
}

#login-form-page form	{
	margin: auto;
	width: 350px;
}

#login-error	{
	color: #ff0000;
	margin: auto;
	font-size: 10px;
	font-weight: bold;
	width: 250px;
	padding: 3px 0 10px 0;
	text-align: center;
}

#login-form-page button	{
	margin: 25px 0px 35px 100px;
}

label	{
	float: left;
	width: 100px;
	height: 25px;
	font-weight: bold;
	padding-top: 8px;
}